public/fonts/lexend.woff2 filter=lfs diff=lfs merge=lfs -text
public/fonts/Inter-italic.var.woff2 filter=lfs diff=lfs merge=lfs -text
public/fonts/Inter-roman.var.woff2 filter=lfs diff=lfs merge=lfs -text
public/favicon.ico filter=lfs diff=lfs merge=lfs -text
assets/blur-cyan.png filter=lfs diff=lfs merge=lfs -text
assets/blur-indigo.png filter=lfs diff=lfs merge=lfs -text
assets/dekulogo.jpg filter=lfs diff=lfs merge=lfs -text
assets/dekulogo.png filter=lfs diff=lfs merge=lfs -text
assets/dekulogodark.png filter=lfs diff=lfs merge=lfs -text
public/fonts/lexend.txt filter=lfs diff=lfs merge=lfs -text
public/fonts/Aldine721BT-Roman.woff filter=lfs diff=lfs merge=lfs -text
public/fonts/Aldine721BT-Roman.woff2 filter=lfs diff=lfs merge=lfs -text
assets/alexander.jpeg filter=lfs diff=lfs merge=lfs -text
assets/alexander.png filter=lfs diff=lfs merge=lfs -text
assets/alexanderBackground.png filter=lfs diff=lfs merge=lfs -text
assets/stylesheet.css filter=lfs diff=lfs merge=lfs -text
public/fonts/PinyonScript-Regular.woff filter=lfs diff=lfs merge=lfs -text
public/fonts/PinyonScript-Regular.woff2 filter=lfs diff=lfs merge=lfs -text
assets/beluga.webp filter=lfs diff=lfs merge=lfs -text
assets/beluga2.webp filter=lfs diff=lfs merge=lfs -text
assets/belumom.webp filter=lfs diff=lfs merge=lfs -text
